<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
  </head>
  <body>
    <p>
      Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a>...
    </p>
  </body>
</html>
